name: Security npm dependency check

on:
  workflow_call:
    inputs:
      channel_id:
        description: 'The slack channel ID to send a message on failure. If this is not provided then no message is sent.'
        required: false
        default: 'NO_SLACK'
        type: string
      node_version_file:
        description: "Passed to setup-node action to specify where to source the version of node from"
        required: false
        type: string
        default: ".nvmrc"
    secrets:
      HMPPS_SRE_SLACK_BOT_TOKEN:
        description: Slack bot token
        required: false

permissions:
  contents: read
  security-events: write

jobs:
  security-npm-check:
    name: Security npm dependency check
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      contents: read
      actions: read
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version-file: ${{ inputs.node_version_file }}
    - name: Show npm version
      id: npm-version
      run: 'npm -v'
    - name: Show node version
      id: node-version
      run: 'node -v'
    - name: Audit for vulnerabilities
      id: npm
      run: npx audit-ci@^7 --config ./audit-ci.json -o json > npm-security-check-reports.json
      continue-on-error: true
    - uses: actions/upload-artifact@v5
      with:
        name: npm-security-check-${{ github.event.repository.name }}
        path: npm-security-check-reports.json
    - name: Run translator to convert to sarif format
      id: sarif-format
      # While we're paying for advanced security, we can scan all repos...
      # if: ${{ github.event.repository.visibility != 'private' && github.event.repository.visibility != 'internal' }}
      uses: ministryofjustice/hmpps-github-actions/.github/actions/auditjson_to_sarif@v2
      with:
        input-file: 'npm-security-check-reports.json'
    # Upload Sarif file: this will attempt to upload the sarif file for private/internal repositories as well
    - name: npm upload sarif
      uses: github/codeql-action/upload-sarif@v4
      id: npm-upload-sarif
      # if: ${{ github.event.repository.visibility != 'private' && github.event.repository.visibility != 'internal' }}
      with:
        sarif_file: 'npm-security-check-reports.sarif'
        category: npm-dependency-check
      # don't stop the job even if Github Advanced Security isn't enabled
      continue-on-error: true
    - uses: actions/upload-artifact@v5
      with:
        name: npm-security-check-${{ github.event.repository.name }}
        path: npm-security-check-reports.sarif
      # don't stop the job even if Github Advanced Security isn't enabled
      continue-on-error: true
    - name:  Run translator to convert to a Slack-compatible table # returns SLACK_TXT
      id: slack-format
      if: steps.npm.outcome == 'failure' && inputs.channel_id != 'NO_SLACK'
      uses: ministryofjustice/hmpps-github-actions/.github/actions/auditjson_to_slack@v2 # WORKFLOW_VERSION
      with:
        input_file: 'npm-security-check-reports.json'
      # Slack notification if there either of the two audits fail
    - name: npm audit slack notification
      uses: ministryofjustice/hmpps-github-actions/.github/actions/slack_codescan_notification@v2 # WORKFLOW_VERSION
      if: (failure() || steps.npm.outcome == 'failure' || steps.npm.outcome == 'failure') && inputs.channel_id != 'NO_SLACK'
      with:
        title: "npm dependency scan"
        warningOnly: ${{ steps.npm-upload-sarif.outcome == 'success' && steps.slack-format.outcome == 'success' }}
        channel_id: ${{ inputs.channel_id}}
        SLACK_BOT_TOKEN: ${{ secrets.HMPPS_SRE_SLACK_BOT_TOKEN }}

    - name: npm slack output results 
      uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
      if: inputs.channel_id != 'NO_SLACK' && steps.slack-format.outcome == 'success'
      with:
        method: chat.postMessage
        token: ${{ secrets.HMPPS_SRE_SLACK_BOT_TOKEN }}        
        payload: >
          {
            "channel": "${{ inputs.channel_id }}",
            "mrkdwn": true,
            "text": "Output: ```\n${{ steps.slack-format.outputs.SLACK_TXT }}\n```"
          }

