name: Security npm outdated check

on:
  workflow_call:
    inputs:
      channel_id:
        required: false
        default: "NO_SLACK"
        type: string
      node_version_file:
        description: "Passed to setup-node action to specify where to source the version of node from"
        required: false
        type: string
        default: ".nvmrc"
      install_command:
        description: "The command used to install npm dependencies"
        required: false
        type: string
        default: "npm ci --no-audit"
      dependencies_to_check:
        required: false
        type: string
        default: typescript govuk-frontend
      version:
        required: true
        type: string
    secrets:
      HMPPS_SRE_SLACK_BOT_TOKEN:
        description: Slack bot token
        required: false

permissions:
  contents: read
  security-events: write

jobs:
  security-npm-check:
    name: Security npm outdated check
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      contents: read
      actions: read
    env:
      parent_directory: ${{ github.event.repository.name == '' && '.' || github.event.repository.name}}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: ${{ inputs.node_version_file }}
      - id: npm-version
        name: Show npm version
        run: "npm -v"
      - id: node-version
        name: Show node version
        run: "node -v"
      - id: npm-ci
        name: run npm ci
        run: "${{ inputs.install_command }}"
      - name: Audit for vulnerabilities
        id: npm
        run: npm outdated ${{ inputs.dependencies_to_check }} > npm-outdated-reports.txt
        continue-on-error: true
      - uses: ministryofjustice/hmpps-github-actions/.github/actions/security_npm_outdated@v2 # WORKFLOW_VERSION
        name: run the security_npm_outdated action to send a slack message
        if: steps.npm.outcome == 'failure'
        with:
          channel_id: ${{ inputs.channel_id }}
          SLACK_BOT_TOKEN: ${{ secrets.HMPPS_SRE_SLACK_BOT_TOKEN }}
      - uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        if: steps.npm.conclusion == 'failure' && inputs.channel_id != 'NO_SLACK'
        with:
          method: chat.postMessage
          token: ${{ secrets.HMPPS_SRE_SLACK_BOT_TOKEN }}
          payload: |
            channel: ${{ inputs.channel_id }}
            text: "GitHub Actions *npm outdated check* failed"
            blocks:
              - type: section
                text:
                  type: mrkdwn
                  text: ":no_entry: Failed GitHub Action:"
              - type: section
                fields:
                  - type: mrkdwn
                    text: "*Workflow:*\n<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.workflow }}>"
                  - type: mrkdwn
                    text: "*Job:*\n${{ github.job }}"
                  - type: mrkdwn
                    text: "*Repo:*\n${{ github.repository }}"
                  - type: mrkdwn
                    text: "*Project:*\n${{ github.event.repository.name }}"
