name: Python Formatter Check

on:
  workflow_call:

permissions:
  contents: read

jobs:
  fmt-check:
    name: Check Python Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Download .ruff.toml configuration file
        run: |
          curl -o .ruff.toml https://raw.githubusercontent.com/ministryofjustice/hmpps-sre-python-lib/main/.ruff.toml
  
      - name: Install Ruff
        run: |
          python -m pip install --upgrade pip
          pip install ruff

      - name: Check Python Formatting
        id: ruff_check
        run: |
          # Run Ruff in diff mode to suggest changes
          ruff check . --config .ruff.toml
